/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #bde6ff, #bde6ff); /* Fondo degradado */
}

/* Contact Section Styles */
#contact {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.contact-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.contact-container p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #666;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info p {
    font-size: 1em;
    color: #333;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto 40px auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}

.confirmation-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #d4edda;
    color: green;
}

/* Social Media Styles */
.social-media {
    margin-bottom: 40px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    transition: opacity 0.3s;
}

.social-media a img {
    width: 30px;
    height: 30px;
}

.social-media a:hover {
    opacity: 0.7;
}
/* Media Query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    #contact {
        margin: 0 auto; /* Ajuste de margen */
        border-radius: 0; /* Eliminar bordes redondeados */
    }
}