*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.mainBox{
    background-color: white;
    border: 2px solid black;
    height: 100%;
    width: 98.3%;
    margin: 10px 10px;
    overflow: hidden;
}
.firtsbox{
    background-color: white;
    border: 1px solid  black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 150px;
    margin: 10px 10px;
    flex-direction: row;
}
.card-publiBox-1{
    border: 1px solid black;
    border-radius: 9px;
    flex-direction: row;
    width: 99.3%;
    margin: 7px 5px;
    height: 100px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    overflow: hidden;
}
.img-publiBox-1{
    width: 100%;
    height: 100%;
}
.container{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.imgProduct-1{
    border: 1px solid black;
    border-radius: 9px;
    width: 25.5%;
    margin: 7px 5px;
    height: 270px;
    display: flex;
    overflow: hidden;
}
.img-imgProduct-1{
    width: 100%;
    height: 100%;
}
.imgProduct-2{
    border: 1px solid black;
    border-radius: 9px;
    width: 50%;
    margin: 7px 5px;
    height: 270px;
    display: flex;
    overflow: hidden;
}
.secondBox{
    background-color: white;
    border: 1px solid  black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
    margin: 10px 10px;
    flex-direction: row;
}
.card-publiBox-2{
    border: 1px solid black;
    border-radius: 9px;
    flex-direction: row;
    width: 99.3%;
    margin: 7px 5px;
    height: 100px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    overflow: hidden;
}
.img-publiBox-1{
    width: 100%;
    height: 100%;
}
.container-2{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.limit-1{
    background-color: white;
    height: 20%;
    border: 3px solid black;
    width: 23.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.lim-imgProduct-1{
    border: 1px solid black;
    border-radius: 9px;
    width: 100%;
    margin: 7px 5px;
    height: 270px;
    display: flex;
}
.imgProduct-3{
    border: 1px solid black;
    border-radius: 9px;
    width: 50%;
    margin: 7px 5px;
    height: 570px;
    display: flex;
    overflow: hidden;
}
.img-imgProduct-2{
    width: 100%;
    height: 100%;
}
.limit-3{
    background-color: white;
    height: 20%;
    border: 3px solid black;
    width: 23.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.lim-imgProduct-4{
    border: 1px solid black;
    border-radius: 9px;
    width: 100%;
    margin: 7px 5px;
    height: 270px;
    display: flex;
    margin: 5px 5px;
    overflow: hidden;
}